/* RhxGrid Demo styles */
main,
[data-demo='rhx-grid'] {
  rh-alert {
    margin-block-end: var(--rh-space-2xl, 32px);
  }

  #container:has(rhx-grid) {
    display: block;
    container-type: inline-size;
    resize: horizontal;
    overflow: auto;
  }

  rhx-grid {
    background: light-dark(var(--rh-color-surface-lighter, #f2f2f2), var(--rh-color-surface-darker, #1f1f1f));
  }

  rhx-grid > div,
  rhx-grid-item {
    border: var(--rh-border-width-sm, 1px) dashed var(--rh-color-border-subtle-on-light, #c7c7c7);

    &[row-span='2xs:2'][col-span='2xs:3'],
    &[row-span='2xs:3'][col-span='2xs:3'] {
      --_background-color: var(--rh-color-interactive-primary-visited-default-on-light, #5e40be);

      background:
        repeating-linear-gradient(45deg,
          oklch(from var(--_background-color) l c h / calc(alpha - 0.075)),
          oklch(from var(--_background-color) l c h / calc(alpha - 0.075)) 10px,
          var(--_background-color) 10px,
          var(--_background-color) 20px);
      color: white;
    }

    &:has(rhx-grid-item) {
      --_background-color: var(--rh-color-interactive-primary-visited-default-on-light, #5e40be);

      background:
        repeating-linear-gradient(45deg,
          oklch(from var(--_background-color) l c h / calc(alpha - 0.075)),
          oklch(from var(--_background-color) l c h / calc(alpha - 0.075)) 10px,
          var(--_background-color) 10px,
          var(--_background-color) 20px);
      color: white;
    }
  }
}
