/* stylelint-disable rhds/token-values */
/* stylelint-disable function-no-unknown */
:host {
  --_color-stop-start: var(--rh-color-brand-red-light, #f56e6e);
  --_color-stop-middle: var(--rh-color-purple-40, #876fd4);
  --_color-stop-end: var(--rh-color-purple-60, #3d2785);
  --_linear-gradient: var(--_color-stop-start), var(--_color-stop-middle), var(--_color-stop-end);
  --_conic-gradient: var(--_linear-gradient), var(--_color-stop-middle), var(--_color-stop-start);
  --_gradient-direction: -90deg;
  --_gradient-ring:
    linear-gradient(light-dark(var(--rh-color-surface-lighter, #f2f2f2),
      var(--rh-color-surface-darker, #1f1f1f)) 0 0) padding-box,
    conic-gradient(from var(--_gradient-direction), var(--_conic-gradient)) border-box;

  display: inline-block;
}

rh-icon {
  --rh-icon-size: var(--rh-size-icon-01, 16px);

  color: light-dark(var(--rh-color-purple-60, #3d2785), var(--rh-color-purple-20, #d0c5f4));
}

button {
  display: flex;
  gap: var(--rh-space-md, 8px);
  align-items: center;
  block-size: max-content;
  border: none;
  border-radius: var(--rh-border-radius-default, 3px);
  cursor: pointer;
  font-size: var(--rh-font-size-body-text-sm, 0.875rem);
  inline-size: max-content;
  padding: var(--rh-space-md, 8px) var(--rh-space-lg, 16px);
  position: relative;
  z-index: 1;
  color: var(--rh-color-text-primary);
  text-decoration: none;
}

button:before {
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  border: var(--rh-border-width-sm, 1px) solid transparent;
  border-radius: inherit;
  background:
    linear-gradient(var(--rh-color-surface,
      light-dark(var(--rh-color-surface-lightest, #ffffff),
      var(--rh-color-surface-lighter, #f2f2f2))) 0 0) padding-box,
    conic-gradient(from var(--_gradient-direction), var(--_conic-gradient)) border-box;
}

button:hover:before {
  border-width: var(--rh-border-width-md, 2px);
}

button:is(:focus-visible, :hover:focus-visible, :active) {
  outline:
    var(--rh-border-width-md, 2px)
    solid
    var(--rh-color-interactive-primary-default);
  border-radius: var(--rh-border-radius-default, 3px);
}

span {
  line-height: var(--rh-line-height-body-text, 1.5);
}
